* {
  padding: 0;
  margin: 0;
}
html,
::backdrop {
  background: #88aaff;
}

#container {
  position: absolute;
  top: 5vh;
  left: 10vw;
  width: 80vw;
  height: 90vh;
  text-align: center;
  font-size: 4vmin;
  font-family: sans-serif;
  background: #88aaff;
}

#times {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  padding: 2px;
  background: #ccc;
  margin: 1rem;
}

#times span {
  background: #6699ff;
  padding: 0.75rem;
}

#times span.late {
  background: #aaa;
  color: #ccc;
}

#times span.header {
  font-weight: 600;
  font-size: 75%;
}
