* {
  padding: 0;
  margin: 0;
}

body {
  position: absolute;
  top: 5vh;
  left: 10vw;
  width: 80vw;
  height: 90vh;
  text-align: center;
  font-size: 6vmin;
  font-family: sans-serif;
  background: #6688ff33;
}

#leave {
  margin: 1rem 0;
  font-size: 80%;
}

#times {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px;
  padding: 3px;
  background: #ccc;
}

#times span {
  background: #6699ff;
  padding: 1rem;
}

#times span.late {
  background: #aaa;
  color: #ccc;
}

#times span.header {
  font-weight: 600;
  font-size: 75%;
}
